<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Everypay. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Customer\Block\Form\Edit" type="Everypay\Everypay\Block\Magento\Customer\Form\Edit" />


    <!-- Payment Method Facade configuration -->
    <virtualType name="EverypayEverypayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Everypay\Everypay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Everypay\Everypay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">EverypayEverypayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">EverypayEverypayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="EverypayEverypayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Everypay\Everypay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with EverypayEverypayConfig -->
    <virtualType name="EverypayEverypayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Everypay\Everypay\Gateway\Http\Client\ClientSale">
        <arguments>
            <argument name="logger" xsi:type="object">EverypayEverypayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="EverypayEverypayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="order" xsi:type="string">EverypayEverypaySaleCommand</item>
                <item name="authorize" xsi:type="string">EverypayEverypayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">EverypayEverypayCaptureCommand</item>
                <item name="void" xsi:type="string">EverypayEverypayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Sale command -->
    <virtualType name="EverypayEverypaySaleCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">EverypayEverypaySaleRequest</argument>
            <argument name="handler" xsi:type="object">EverypayEverypayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Everypay\Everypay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Everypay\Everypay\Gateway\Http\Client\ClientSale</argument>
        </arguments>
    </virtualType>

    <!-- Sale Request -->
    <virtualType name="EverypayEverypaySaleRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Everypay\Everypay\Gateway\Request\SaleRequest</item>
                <item name="mockData" xsi:type="string">Everypay\Everypay\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Everypay\Everypay\Gateway\Request\SaleRequest">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </type>

    <!-- Authorize command -->
    <virtualType name="EverypayEverypayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">EverypayEverypayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">EverypayEverypayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Everypay\Everypay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Everypay\Everypay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="EverypayEverypayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Everypay\Everypay\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Everypay\Everypay\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Everypay\Everypay\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="EverypayEverypayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Everypay\Everypay\Gateway\Request\SaleRequest</argument>
            <argument name="handler" xsi:type="object">Everypay\Everypay\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Everypay\Everypay\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Everypay\Everypay\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Everypay\Everypay\Gateway\Http\Client\ClientSale</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Everypay\Everypay\Gateway\Request\SaleRequest">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="EverypayEverypayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Everypay\Everypay\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Everypay\Everypay\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Everypay\Everypay\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Everypay\Everypay\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Everypay\Everypay\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Everypay\Everypay\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="EverypayEverypayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Everypay\Everypay\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Everypay\Everypay\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="EverypayEverypayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">EverypayEverypayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="EverypayEverypayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Everypay\Everypay\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">EverypayEverypayConfig</argument>
        </arguments>
    </type>

</config>
